.hidden {
    display: none;
}
.container {
    width:  100%;
    margin: 0 auto;
}

.box-color {
    background-color: black;
    color: white;
    text-align: center;
}

.box-color2 {
    background-color: #717171;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 112px);
    grid-column-gap: 30px;
}
#main-header {
    margin-top: 47px;
}

#header-logo {
    width: 100%;
    height: auto;
    grid-column: 1/4;
}

#header-nav {
    height: 82px;
    width: 964px;
    grid-column: 4/10 ;
    margin-top: 49px;
}

#social-media {
    height: 82px;
    width: 100%;
    grid-column: 11/-1;
    margin-top: 43px;
}

#hero {
    grid-column: 1/-1;
    width: 100%;
    height: 724px;
    margin-top: 5px;

}

#section1 {
    grid-column: 1/-1;
    width: 100%;
    height: 400px;
}

#section2{
    grid-column: 1/-1;
    width: 1920px;
    height: 724px;
}

#footer-con-full {
    width: 100%;
    height: 494px;
    margin-top: 10px;
}

#footer-logo {
    width:  100%;
    height: 167px;
    grid-column: 1/4;
    margin-top: 49px;
}

#footer-nav {
    width: 100%;
    height: 82px;
    margin-top: 15px;
    grid-column: 1/7;
    margin-top: 49px;
}

#footer-media-icons {
    height: 82px;
   width: 100%;
    grid-column: 1/2;
    margin-top: 49px;
}
#mobile-menu-icon {
    display: none;
    cursor:pointer;
}
 #mobile-nav{
    display: none;
 }

@media screen and (max-width:600px){
    #hero {
        grid-column: 1/-1;
        width: 100%;
        height: 50vh;
        margin-top: 5px;
    
    }
    #section1 {
        grid-column: 1/-1;
        width: 100%;
        height: 50vh;
    }
    
    #section2{
        grid-column: 1/-1;
        width: 100%;
        height: 50vh;
    }
    #header-nav{
        display: none !important;
    }
    #header-logo{
        display: none !important;
    }
    #social-media {
        display: none;
    }
    #mobile-menu-icon {
        display: block;
        text-align: right;
        padding: 20px;
    }
      
}